section.section3 {
	padding: 6% 5%;
}
section.section3 div.wrapper
 {
	max-width: 758px;
	margin: 10% auto;
	text-align: center;
}
section.section3 h2 {
	margin: 0 auto 5% auto;
}
section.section3 button {
	margin: 0 auto;
}
