@import "setup";
@import "branding";
@import "header";
@import "section1";
@import "section2";
@import "section3";
@import "footer";
@import "audioplayer";
@import "typography";
@import "mobilenav";
@import "base";
@import "mediaqueries";

@if variable-exists (font-url--google) {
	@import url($font-url--google);
}

.hide {
		display: none;
	}

.nomore {
		text-decoration: none;
		text-transform: uppercase;
		colour: white;
		@include fontSize(14);
		font-family: $font-family--buttons;
		color: $medium-grey2;
		font-weight: $font-weight--light;
		letter-spacing: 2px;
	}

.stay {
		display: block;
	}

a.nomore:visited {
		color: white;
	}